<html>
    <head>
        <title>Login</title>
        <meta name="keywords" content="login">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body { padding-top: 60px; padding-bottom: 40px; }
        </style>
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/carvic.css" rel="stylesheet">

        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/carvic.js"></script>
        <script></script>
    </head>
    <body>

		<%= title %>
		<div>
			<a href="/login"> login </a>
		</div>
        <div>
			<a href="/logout"> logout </a>
		</div>
    </body>
</html>